---
layout: home.njk
---

<div class="home">
	<section class="home__hero gradients">
		<div class="home__intro flow">
			<h1>{{ metadata.catchphrase }}</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui cum porro magnam labore corporis aliquam ea enim id eaque excepturi non explicabo saepe, deleniti nemo commodi animi. Excepturi, consequatur culpa.</p>
		</div>
		<a class="home__start" href="/getting-started">Getting Started</a>
	</section>
	<section class="home__links">
		<ul>
			<li><a href="#">Design Tokens</a></li>
			<li><a href="#">Styles</a></li>
			<li><a href="#">Components</a></li>
		</ul>
	</section>
	<section class="hero__footer">
		<span>Kigumi</span>
	</section>
</div>
