# Dependencies directory - contains all installed npm packages
node_modules

# macOS system files that store custom folder attributes
.DS_Store

# Vite cache directory
.vite

# Eleventy cache directory
.eleventy

# Temporary files created by the build process
_tmp/
