.home {
	display: grid;
	grid-column: full;
	grid-template-columns: subgrid;

	> * {
		grid-column: full;
	}
}

.home__hero {
	display: grid;
	grid-template-columns: subgrid;
	align-items: start;

	> * {
		grid-column: popout-start / content-end;
		grid-row: auto;
	}

	p {
		grid-row: 1fr;
	}
}
