.home {
	display: grid;
	grid-column: full;
	grid-template-columns: subgrid;

	> * {
		grid-column: full;
	}
}

.home__hero {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: 1fr auto;
	border-block-end: var(--docs-layout-border-width) solid
		var(--k-color-neutral-1000);

	> * {
		grid-column: popout-start / content-end;
		grid-row: auto;
	}

	p {
		grid-row: 1fr;
	}
}

.home__intro {
	--k-flow: var(--k-space-px-400);

	grid-column: popout;
	padding: var(--k-space-px-1000) 0;
	text-shadow: 0 0.2ex 0.2ex
		color-mix(in oklch, var(--k-color-neutral-1000), transparent 85%);

	h1 {
		margin: 0;
		font-size: clamp(1.5rem, 0.176rem + 3.529vw, 3rem);
		max-width: 20ch;
		text-wrap: balance;
	}

	p {
		margin: 0;
		font-size: clamp(1rem, 0.823rem + 0.47vw, 1.2rem);
		max-width: 80ch;
		text-wrap: pretty;
	}
}

.home__start {
	display: grid;
	max-inline-size: 70rem;
	padding: var(--k-space-px-300);
	color: var(--k-color-neutral-1000);
	font-size: clamp(1rem, 0.559rem + 1.176vw, 1.5rem);
	font-weight: 700;
	text-decoration: underline transparent;
	text-underline-offset: 0.2ex;
	background: var(--k-color-neutral-0);
	border: var(--docs-layout-border-width) solid var(--k-color-neutral-1000);
	border-block-end: 0;

	&:hover,
	&:focus-visible {
		background-color: color-mix(
			in oklch,
			var(--k-color-neutral-0),
			transparent 10%
		);
		text-decoration-color: currentColor;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.home__start {
		transition: all 0.2s ease-in-out;
		transition-property: background-color, text-decoration-color;
	}
}
