:host {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--k-icon-width);
	height: var(--k-icon-height);
	padding: var(--k-icon-padding);
	background: var(--k-icon-background);
	border-width: var(--k-icon-border-width);
	border-style: var(--k-icon-border-style);
	border-color: var(--k-icon-border-color);
	border-radius: var(--k-icon-border-radius);

	& svg {
		width: var(--k-icon-svg-width);
		height: var(--k-icon-svg-height);
		fill: var(--k-icon-svg-fill);
		stroke: var(--k-icon-svg-stroke);
		stroke-width: var(--k-icon-svg-stroke-width);
		stroke-linecap: var(--k-icon-svg-stroke-linecap);
		stroke-linejoin: var(--k-icon-svg-stroke-linejoin);
	}
}
