.page {
	--k-page-header-height: 3.5rem;
	--k-page-sidebar-width: 240px;
	--k-page-border-width: 2px;

	position: relative;
	display: grid;
	grid:
		"header header" var(--k-page-header-height)
		"sidebar main" 1fr
		/ var(--k-page-sidebar-width) 1fr;
	width: 100%;
	height: 100dvh;
}

.page__header {
	grid-area: header;
	position: fixed;
	inset: 0 0 auto;
	z-index: 10;
	display: flex;
	align-items: stretch;
	height: var(--k-page-header-height);
	padding: var(--k-spacing-3) var(--k-spacing-6);
	background-color: var(--k-color-neutral-0);
	border-block-end: var(--k-page-border-width) solid black;
}

.page__sidebar {
	grid-area: sidebar;
	position: fixed;
	inset: var(--k-page-header-height) auto 0;
	z-index: 10;
	width: var(--k-page-sidebar-width);
	border-inline-end: var(--k-page-border-width) solid black;
}

.page__main {
	position: relative;
	grid-area: main;
}
